<h1>Editing Expense</h1>
<%= form_for :salary, url: salary_path(@salary), method: :patch do |f| %>
	<p>
	<%= f.label :amount %><br>
	<%= f.text_field :amount %><br>
	</p>

	<p>
	<%= f.label :purchase %><br>
	<%= f.text_field :purchase %><br>
	</p>

	<p>
	<%= f.submit 'Update' %>
	</p>

	<% end %>