<center><h1>Add new purchase</h1>

<br>
<%= form_for :salary, url: salary_index_path do |f| %>
<p>
<%= f.label :amount %>
<%= f.text_field :amount %>
</p>

<p>
<%= f.label :purchase %>
<%= f.text_field :purchase %>
</p>

<p>
<%= f.submit "Add" %>
</p></center>

<% end %>