<center>
<h1>Sign Up</h1>
<br>

<%= form_for(@user) do |f| %>
	<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
	</p>

	<p>
	<%= f.label :email %>
	<%= f.text_field :email %>
	</p>

	<p>
	<%= f.label :password, 'Pwd' %>
	<%= f.text_field :password %>
	</p>

	<p>
	<%= f.label :password_confirmation, 'Again' %>
	<%= f.text_field :password_confirmation %>
	</p>
	<p>
	<%= f.submit 'Sign Up' %>
	</p>

	<% end %>

	</center>